body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0b0f1a;
    color: white;
}

h1 {
    margin-top: 15px;
}

#map {
    height: 500px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}

#info {
    margin-top: 10px;
    font-size: 18px;
}
