body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0b0f1a;
    color: white;
}

h1 {
    margin-top: 15px;
}

#map {
    height: 500px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}

#info {
    margin-top: 10px;
    font-size: 18px;
}
#follow-btn {
    background: #1e90ff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

#follow-btn:hover {
    background: #0d6efd;
}
